<!DOCTYPE html>
<html lang="fr" ng-app="testApp">
  <head>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/voiture.json"></script>
    <script src="assets/js/script.js"></script>
    <meta charset="utf-8">
    <title>Exercice 1</title>
  </head>
  <body ng-controller="cars">
  <p ng-hide="p">Paragraphe de baseuh</p>
  <p ng-show="p">Paragraphe de shit</p>
  <button type="button" ng-click="p=false"name="button">m</button>
  <button type="button" ng-click="p=true" name="button">Afficher</button>
  </body>
</html>
